.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #d9e3ec;
  padding: 10px;
  gap: 3px;
}
.item {
  background-color: rgb(116, 116, 237);
  border: 1px solid white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;

  border-radius: 10px;
}
